<a href="https://colab.research.google.com/github/yahia-kplr/Fondamentaux-Python_fr/blob/main/Jour_02/05-Conversion.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conversion de structures de données / NEED-TO-KNOW

### Comment convertir en une structure de données

- `liste()`
- `dict()`
- `tuple()`
- `set()`

In [1]:
l = [1, 2, 3, 4, 5]
l

[1, 2, 3, 4, 5]

In [2]:
t = tuple(l)

In [3]:
t

(1, 2, 3, 4, 5)

In [4]:
l

[1, 2, 3, 4, 5]

In [5]:
t[0] = 'Zero'

TypeError: 'tuple' object does not support item assignment

In [6]:
l[0] = 'Zero'

In [7]:
t

(1, 2, 3, 4, 5)

In [8]:
l

['Zero', 2, 3, 4, 5]

In [9]:
l = [1, 1, 1, 2, 2, 3, 3, 1, 1]
s = set(l)
s

{1, 2, 3}

### Fermeture éclair

Vous pouvez compresser deux listes ensemble.

```Python
z = zip([1, 2], [3, 4])
```

In [10]:
z = zip([1, 2], [3, 4])

In [11]:
z

In [12]:
l = list(z)
l

[(1, 3), (2, 4)]

In [13]:
l1 = ['Name', 'Age']
l2 = ['Charles', 24]

d = dict(zip(l1, l2))
d

{'Name': 'Charles', 'Age': 24}