# Specialization Exercises

### Exercise 1
1. Create tuple `(1, 2, 3)`
2. Convert it to a list
    - HINT: Assign it to a variable and test it with `type()`
3. Change first item of the list to `0`

In [1]:
t = (1, 2, 3)

In [2]:
l = list(t)
l

[1, 2, 3]

In [3]:
type(l)

list

In [4]:
l[0] = 'ONE'
l

['ONE', 2, 3]

### Exercise 2
1. Create tuple `(1, 2, 3)`
2. Change first item of the tuple to `0`
    - HINT: It should fail
3. Why does it fail?

In [5]:
t = (1, 2, 3)

In [6]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

### Exercise 3
1. Create set `{1, 2, 3, 4}`
2. Add item `3`
3. What happened and why?
4. Add item `5`
5. What happened and why?

In [8]:
s = {1, 2, 3, 4}
s.add(3)
s.add(5)
s

{1, 2, 3, 4, 5}

### Exercise 4

1. Create list `[1, 2, 2, 3, 4, 4]`
2. Convert it to set (remember to assign it to variable)
3. Convert the set to list (remember to assign it to a variable)
- HINT: You should end up with list `[1, 2, 3, 4]`

In [9]:
l = [1, 2, 2, 3, 4, 4]
s = set(l)  # {1, 2, 3, 4}
l2 = list(s)  # [1, 2, 3, 4]
l2

[1, 2, 3, 4]