<a href="https://colab.research.google.com/github/yahia-kplr/Fondamentaux-Python_fr/blob/main/Jour_01/03-Numbers.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types de nombres

Python a différents "types" de nombres (littéraux numériques). Nous nous concentrerons principalement sur les nombres entiers et les nombres à virgule flottante.

Les nombres entiers ne sont que des nombres entiers, positifs ou négatifs. Par exemple : 2 et -2 sont des exemples d'entiers.

Les nombres à virgule flottante en Python sont remarquables car ils contiennent une virgule décimale ou utilisent un exponentiel (e) pour définir le nombre. Par exemple 2.0 et -2.1 sont des exemples de nombres à virgule flottante. 4E2 (4 fois 10 à la puissance 2) est également un exemple de nombre à virgule flottante en Python.

Tout au long de ce cours, nous travaillerons principalement avec des nombres entiers ou des types de nombres flottants simples.

Voici un tableau des deux principaux types sur lesquels nous passerons le plus clair de notre temps avec quelques exemples :

<tableau>
<tr>
<th>Exemples</th>
<th>Numéro "Type"</th>
</tr>

<tr>
<td>1,2,-5,1000</td>
<td>Entiers</td>
</tr>

<tr>
<td>1.2,-0.5,2e2,3E2</td>
<td>Nombres à virgule flottante</td>
</tr>
</table>



Commençons maintenant par un peu d'arithmétique de base.

<p>Python suit des conventions mathématiques bien acceptées lors de l'évaluation d'expressions mathématiques. Dans l'exemple suivant, Python ajoute 30 au résultat de la multiplication (c'est-à-dire 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>Et tout comme les mathématiques, les expressions entre parenthèses sont prioritaires. Donc ce qui suit multiplie 32 par 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<p>Comme avec la plupart des langages de programmation, nous pouvons stocker des valeurs dans des <i>variables</i>, afin de pouvoir les utiliser plus tard. Par exemple :</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>Pour voir la valeur de <code>x</code> dans un Notebook, nous pouvons simplement le placer sur la dernière ligne d'une cellule :</p>

In [ ]:
# Print out the value in variable

x

<p>Nous pouvons également effectuer des opérations sur <code>x</code> et enregistrer le résultat dans une nouvelle variable :</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>Si nous enregistrons une valeur dans une variable existante, la nouvelle valeur écrasera la valeur précédente :</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>C'est une bonne pratique d'utiliser des noms de variables significatifs, afin que vous et les autres puissiez lire le code et le comprendre plus facilement :</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

<p>Dans les cellules ci-dessus, nous avons ajouté la longueur de trois albums en minutes et l'avons stockée dans <code>total_min</code>. Nous l'avons ensuite divisé par 60 pour calculer la durée totale <code>total_hours</code> en heures. Vous pouvez également tout faire en même temps dans une seule expression, tant que vous utilisez des parenthèses pour ajouter la longueur des albums avant de diviser, comme indiqué ci-dessous.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>Si vous préférez avoir le nombre total d'heures sous forme d'entier, vous pouvez bien sûr remplacer la division en virgule flottante par une division entière (c'est-à-dire <code>//</code>).</p>

## Affectations de variables

Maintenant que nous avons vu comment utiliser les nombres en Python comme calculatrice, voyons comment nous pouvons attribuer des noms et créer des variables.

Nous utilisons un seul signe égal pour attribuer des étiquettes aux variables. Voyons quelques exemples de la façon dont nous pouvons le faire.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

Maintenant, si j'appelle *a* dans mon script Python, Python le traitera comme le numéro 5.

In [ ]:
# Adding the objects
a+a

10

Que se passe-t-il lors d'une réaffectation ? Python nous laissera-t-il l'écrire par-dessus ?

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

10

Oui! Python vous permet d'écraser les noms de variables assignés. Nous pouvons également utiliser les variables elles-mêmes lors de la réaffectation. Voici un exemple de ce que je veux dire :

In [ ]:
# Check
a

10

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

20

Les noms que vous utilisez lors de la création de ces libellés doivent respecter quelques règles :

1. Les noms ne peuvent pas commencer par un chiffre.
2. Il ne peut y avoir d'espaces dans le nom, utilisez _ à la place.
3. Impossible d'utiliser l'un de ces symboles :'",<>/?|\()!@#$%^&*~-+
4. Il est considéré comme la meilleure pratique (PEP8) que les noms soient en minuscules.
5. Évitez d'utiliser les caractères 'l' (lettre minuscule el), 'O' (lettre majuscule oh),
ou 'I' (oeil en majuscule) comme noms de variables à un seul caractère.
6. Évitez d'utiliser des mots qui ont une signification particulière en Python comme "list" et "str"


L'utilisation de noms de variables peut être un moyen très utile de suivre les différentes variables en Python. Par exemple:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

10.0

Qu'avons-nous appris? Nous avons appris certaines des bases des nombres en Python. Nous avons également appris à faire de l'arithmétique et à utiliser Python comme calculatrice de base. Nous avons ensuite terminé avec l'apprentissage de l'affectation de variables en Python.

Ensuite, nous en apprendrons davantage sur Strings !

# Exercice : Expression et variables en Python

<p>Quelle est la valeur de <code>x</code> où <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
7

<p>Quelle est la valeur de <code>y</code> où <code>y = (3 + 2) * 2</code> ?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
10

<p>Quelle est la valeur de <code>à</code> et <code>z = x + y</code> ?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
17